 body {
    background: linear-gradient(350deg,#f05a41,#f54f97) center center fixed;
    background-size: cover;
    animation: gradient-animation 10s ease infinite;
    background-repeat: no-repeat;
    margin: 0;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#hi{
  animation: changing1 10s ease infinite;
}
#loudbook{
  animation: changing2 10s ease infinite;
}
 @keyframes changing1 {
  0%{
    opacity: 1;
  }
  30%{
    opacity: 1;
  }

  50%{
    opacity: 0;
  }
  95%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
} 
@keyframes changing2 {
  0%{
    opacity: 0;
  }
  40%{
    opacity: 0;
  }

  55%{
    opacity: 1;
  }
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
} 

.container {
  width: 300px;
  height: 94vh;
  margin: auto auto;
  display: grid;
  place-items: center;
  grid-template-areas: "inner-div";
}

.inner {
  margin: 0;
  font-size: 10vw;
  font-family: "Poppins", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  text-align: center;
  grid-area: inner-div;
}

body{
  background-color: beige;
  animation: paint 10s ease-in-out infinite;
}
#arrow{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s;
  margin-top: -50px;
}
#arrow:hover{
  transform: translateY(15px);
  width: 55px;
}